poctask9/src/main/mule/poctask9.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="48dfecdb-3b81-478c-a54e-d0f846d9f4f1" >
		<file:connection workingDir="C:\Users\sivanjaneyuluk\Desktop\poc9" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="76634611-51fa-41fc-86dc-c8aec205b3e7" >
		<file:connection workingDir="C:\Users\sivanjaneyuluk\Desktop\poc9" />
	</file:config>	
	<flow name="poctask9Flow" doc:id="f14d2d9b-ec7e-45af-b64f-9a07cabeb6d4" >
		<http:listener doc:name="Listener" doc:id="66a40ddd-0d64-4c68-8a06-92d7b0483068" config-ref="HTTP_Listener_config" path="/poc9"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="Set Variable" doc:id="e748531b-dad9-4444-9d9c-46cee67036dc" variableName="destination"/>
		<choice doc:name="Choice" doc:id="7fc679f9-6c2d-4827-9d67-ada00761a8cd" >
			<when expression='#[vars.destination == payload.destination]'>
				<ee:transform doc:name="Transform Message" doc:id="5589ca18-70e5-498a-b367-5a33c026d21b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="19c00a86-1e79-4326-be78-d8327ae42a05">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="6712cc1b-001e-44ab-aeee-1639d9fafa77" config-ref="File_Config" path="#['pocfile9' ++&quot; &quot;++ (now() as String{format:'yyyy/MM/dd'})++ &quot;.csv&quot;]">
				</file:write>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="930f14d5-b409-4348-9dea-8de1de2701be">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
"data":payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="14fdd76f-33ee-4864-9007-8fc373db8cb0" config-ref="File_Config1" path="#['pocfile9' ++&quot; &quot;++ (now() as String{format:'yyyy/MM/dd'})++ &quot;.xml&quot;]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="084bed6b-44c2-4883-a261-652dfe9534d8" message="#[payload]"/>
		<error-handler ref="GlobalErrorHandling" />
	</flow>
</mule>
