upsert-file-to-salesforce/src/main/mule/upload-file-to-salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="6f440fb6-e2fb-4258-a8db-d8738f87750f" />
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c2baacb1-2eee-47be-bfb4-0eddb52a88c2" >
		<salesforce:basic-connection username="eshwarnagaram93@gmail.com" password="8142886255#Eshwar" securityToken="E2jd6UjyqkCna0KjoR3lqQpvT"/>
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0bf104b6-28b7-447a-bd4d-ae2d3e394cec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="57b7bff7-1541-479c-9ddd-b974218a122e" >
		<file:connection />
	</file:config>
	<flow name="upload-file-to-salesforceFlow" doc:id="a99935fd-0e55-4e1e-bd18-6e7217fe23cc" >
		<file:listener doc:id="ec61febb-5827-4fb3-a9b3-b2d0b0a556ad" config-ref="File_Config" directory="C:\Users\sivanjaneyuluk\AnypointStudio\studio-workspace\upload-file-to-salesforce\src\main\resources\in" moveToDirectory="C:\Users\sivanjaneyuluk\AnypointStudio\studio-workspace\upload-file-to-salesforce\src\main\resources\out">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="d76dae56-1425-4b66-a1d9-4e1f05fcc8db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
[{
    PathOnClient: attributes.fileName,
    VersionData: payload as Binary {
        class: "byte[]"
    }
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="3b7bdbe7-e19d-4df8-b62e-194e8bdd9f53" config-ref="Salesforce_Config" objectType="ContentVersion" externalIdFieldName="Id"/>
		<salesforce:query doc:name="Query" doc:id="e6ed4726-21c3-4460-bd7e-e3f3daf185ce" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT ContentDocumentId FROM ContentVersion Where Id = ':cvld']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cvld" : payload.items[0].id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="d5e4115c-5ab1-4a0e-8ea5-57209dc50727" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( item , index ) -> {
    LinkedEntityId: "a015j00000MVkEC",
    ContentDocumentId: item.ContentDocumentId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="ContentDocumentLink" externalIdFieldName="Id" doc:name="Upsert" doc:id="3ab19679-b85e-4147-9595-f3b157016e22" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="f101b46c-d8a6-4359-9aed-8bb8ad5f13a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d651578c-1c05-4bb4-bae1-620fd616def2" message="#[payload]"/>
	</flow>
</mule>
