poctask12/src/main/mule/poctask12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4d291b3-aa36-4d8c-9f46-d8881292c02d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="42f871bf-9286-4674-86ac-706ca5f7b5be" file="properties.yaml" />
	<flow name="poctask12Flow" doc:id="623fa489-0d7f-41dd-9f82-62c6017b6072" >
		<http:listener doc:name="Listener" doc:id="b00f7cd9-e914-4854-8b24-6268f7345392" config-ref="HTTP_Listener_config" path="/poc12"/>
		<ee:transform doc:name="Transform Message" doc:id="1fc9a62d-cb37-4fa1-8837-2502fd01f56a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    (item mapObject ((value, key, index) -> {
        "ID": key,
        "Name": value
    } ))
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="86006fc0-6964-4095-a1a3-39ad6ad8d1eb" message="#[payload]"/>
	</flow>
</mule>
