sample-poc6/src/main/mule/sample-poc6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">	
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4c905514-cf1f-436d-9784-d0f17a5bf0bb" >
		<wsc:connection wsdlLocation="http://mu.mulesoft-training.com/essentials/delta/flights?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://mu.mulesoft-training.com/essentials/delta/flights">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="sample-poc6Flow2" doc:id="411b261d-32f1-4783-a6a3-dc9e8f5d95ea" >
		<wsc:consume doc:name="listAllFlights" doc:id="67af5d63-4af4-4124-ba23-5d9b5ce988b4" operation="listAllFlights" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="listAllFlightsResponse" doc:id="1397f004-6240-4cbe-9a2e-65eafe67a758">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bc630c30-20af-4cbe-9602-06805c14111c" message="#[payload]"/>
	</flow>
	<flow name="sample-poc6Flow1" doc:id="4efe27fa-f985-45b9-8984-8dcfa2f0d179" >
		<set-variable value="#[attributes.queryParams.destination]" doc:name="passing queryParams" doc:id="91a9da85-136b-4c39-b0e4-3f3d1207585b" variableName="destination" />
		<ee:transform doc:name="Before Consume Transform Message" doc:id="8a1abb9c-e1c4-479c-8cb5-8999e24f2038">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.destination as String
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="da3010fc-0142-4afd-9f28-f22aef6ef755" config-ref="Web_Service_Consumer_Config" operation="findFlight" />
		<logger level="INFO" doc:name="Logger" doc:id="3ed73aa0-6604-49cd-b5c4-d9ef098279fe" message="#[payload]"/>
	</flow>
</mule>
