datawave_task/src/main/mule/datawave_task.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5b5ec7d-b112-426d-92dd-75d8664f2161" primaryNodeOnly="false" path="/datawave" responseStreamingMode="AUTO" config-ref="HTTP_Listener_config">
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="datawave_taskFlow" doc:id="cc4e81ef-25db-415f-8cff-4a7143f53115" >
		<http:listener doc:name="Listener" doc:id="740953ad-f933-42a9-8209-6e17f240b8ac" config-ref="HTTP_Listener_config" path="/dt"/>
		<ee:transform doc:name="Transform Message" doc:id="ece03134-cf94-44a7-af7e-266a97f9a901" >
			<ee:message >
				<ee:set-payload ><![CDATA[//%dw 2.0
//output application/json
//var a=["LAA001","LAA002","LAA003"]
//var b= payload.address map ((item, index) ->{
//    id:payload.id,
//    lob:a[0],
//    attributestext:item.street
//} )
//var c= payload.address map ((item, index) ->{
//    id:payload.id,
//    lob:a[1],
//    attributestext:item.city
//} )
//var d= payload.address map ((item, index) ->{
//    id:payload.id,
//    lob:a[2],
//    attributestext:item.pin
//} )
//---
//b ++ c ++ d 
%dw 2.0
output application/json
var a= ["LAA001","LAA002","LAA003"]
---
(payload.address map ((item, index) -> {
    "lob1": a map ((item1, index1) -> {
         "id": payload.id,
         "lob":item1,
         "attributestxt":item[index1]
    })
})) .lob1 reduce ($ ++ $$) orderBy $.lob]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0c02e23b-ebf8-424c-b8d4-b11856b5bd01" message="payload"/>
	</flow>
</mule>
