poctask19/src/main/mule/poctask19.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ee8ec1b5-2aef-4d98-8aa6-89f805c1c39f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="poctask19Flow" doc:id="122919af-7b75-42cf-8297-6068409b54b6" >
		<http:listener doc:name="Listener" doc:id="98d7e8b3-7d6a-46e9-ba9a-e13ce8ca4f45" config-ref="HTTP_Listener_config" path="/poc19"/>
		<ee:transform doc:name="Transform Message" doc:id="cf657b49-d224-4fa1-8486-02e40d1dba80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun format(d: DateTime) = d as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
---
{
   AustralianTimeZone: now() >> "Australia/ACT"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b0c902b9-b424-4040-acd1-96455d23db7e" message="#[payload]"/>
	</flow>
</mule>
