sys-poctask10/src/main/mule/systemflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="systemflowFlow" doc:id="0986ca16-8b20-4465-a667-a490ffc44264" >
		<logger level="INFO" doc:name="Logger" doc:id="a0ba9731-70e3-40f3-98be-52a9e827fa52" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="67a52c44-2990-440a-be6c-da2eebe68375" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
