task7systemlayer/src/main/mule/task7system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="77422172-8b58-4753-9de1-50d7e4b8d77d" >
		<http:request-connection host="mu.mulesoft-training.com" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c2883e6c-009a-4d58-aeba-982ff5ae97a4" >
		<wsc:connection wsdlLocation="http://mu.mulesoft-training.com/essentials/delta/flights?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://mu.mulesoft-training.com/essentials/delta/flights" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="task7systemFlow" doc:id="e575c40b-7435-4635-ba8c-e0fb61c760a0" >
		<logger level="INFO" doc:name="Logger" doc:id="cce4f2aa-b266-4f9f-967f-af798abbc870" message="#[payload]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="c8506691-06d1-4f85-8e17-97f4caa565c4" >
			<route >
				<http:request method="GET" doc:name="Request" doc:id="2f345048-95ce-4e1e-86d8-3e79987f4dd2" config-ref="HTTP_Request_configuration" path="/essentials/united/flights" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	destination : attributes.queryParams.destination
}]]]></http:query-params>
				</http:request>
			</route>
			<route >
				<wsc:consume doc:name="Consume" doc:id="6b8a63fc-b37b-4275-b0cc-5a0a7fd4e5f0" config-ref="Web_Service_Consumer_Config" operation="listAllFlights" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="cf2f317d-b00f-4e4d-8609-36058d0fd447">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</flow>
</mule>
