siva-mulesoft/src/main/mule/siva-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e785c10e-e365-4e0d-94d7-276f7396f5bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="siva-mulesoftFlow" doc:id="4a734e3d-4c82-4a29-ba28-841796ab7163" >
		<http:listener doc:name="Listener" doc:id="f852226f-a0ce-4ed2-b6b2-4682222b8499" config-ref="HTTP_Listener_config" path="/siva"/>
		<set-payload value='"this is demo cicd file"' doc:name="Set Payload" doc:id="a5642855-7b4d-4217-baff-e29cbee846a3" />
		<logger level="INFO" doc:name="Logger" doc:id="3a21b98a-ef1f-45cd-b3f3-37dd61c8f604" message="#[payload]"/>
	</flow>
</mule>
