poc13/src/main/mule/poc13.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1d45b1b9-c416-4c59-89a4-660f72b5b61e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c745a9f7-d78a-4b8b-833a-ded55b3b66e8" >
		<file:connection workingDir="C:\Users\sivanjaneyuluk\Desktop\location" />
	</file:config>
	<flow name="poc13Flow" doc:id="f8acc546-75b8-49ea-8839-dc47d4ea6aed" >
		<http:listener doc:name="Listener" doc:id="88d094ad-137b-4c48-855b-d3f6490dbdca" config-ref="HTTP_Listener_config" path="/poc13"/>
		<file:read doc:name="Read" doc:id="7b5ff0fa-2dd8-437e-98d9-ac29a7ffa9bd" config-ref="File_Config" path="C:\Users\sivanjaneyuluk\Desktop\locations (1).csv"/>
		<ee:transform doc:name="Transform Message" doc:id="9bef9bf0-188d-4d7f-b4b5-3bab04307856">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="cb7f922f-e758-486f-9cf2-fa8bc796d076" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="b9c9fc7b-c7f7-483f-99cb-91c87813569d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload filter($.Country == 'India')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="25b747e5-d1ac-47fe-82ce-faba5662f78a" config-ref="File_Config" path="#[payload[0].Country ++ '.csv']">
					<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload]]]></file:content>
				</file:write>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="92ba6f3c-f8bd-4362-ace5-56abc2783b77">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload filter($.Country == 'US')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="045973b6-d6ea-4e9e-898c-8b54849d5ba3" config-ref="File_Config" path="#[payload[0].Country ++ '.csv']">
					<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload]]]></file:content>
				</file:write>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="200f980a-b275-4d4a-aca7-ae15786efa01" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter($.Country == 'France')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="ddf9faec-4451-4c57-bcc2-7659143c6235" config-ref="File_Config" path="#[payload[0].Country ++ '.csv']">
					<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload]]]></file:content>
				</file:write>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="3de5b2aa-bfa0-4d81-b665-1f4946b92456" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter($.Country == 'CA')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="3ff62198-1281-4b1a-bf5d-dd79fe234dba" config-ref="File_Config" path="#[payload[0].Country ++ '.csv']">
					<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload]]]></file:content>
				</file:write>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="9f8d8d0e-eeb2-4dcf-9f4a-0bca8fe0ac4a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter($.Country == 'UK')]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="a7d03e75-3aa0-4bb0-83a4-801f8d90326c" config-ref="File_Config" path="#[payload[0].Country ++ '.csv']">
					<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload]]]></file:content>
				</file:write>
			</route>
		</scatter-gather>
	</flow>
</mule>
