soap-comsume-project/src/main/mule/soap-comsume-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="df34fcf6-1d6b-4eb0-b74e-55dc932a3a43" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="42b4432a-64c7-4b15-8aa5-c4a255e32630" >
		<wsc:connection wsdlLocation="https://www.dataaccess.com/webservicesserver/NumberConversion.wso?WSDL" service="NumberConversion" port="NumberConversionSoap" address="https://www.dataaccess.com/webservicesserver/NumberConversion.wso">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap-comsume-projectFlow" doc:id="7c93bf60-4ce0-4c04-9300-21dd0e446359" >
		<http:listener doc:name="Listener" doc:id="fe43d567-12bc-4082-8be1-394f7d25252e" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="12109296-c55f-45f6-ad03-3d0344e943f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="81d69716-78c3-4957-987d-91ac0a867672" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<ee:transform doc:name="Transform Message" doc:id="af32f88c-a64a-469e-918f-f22f77377d21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"Subtract Result": payload.body.ns0#SubtractResponse.ns0#SubtractResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_soap-comsume-projectFlow" doc:id="9771590b-eb03-4e6a-88ad-7ffdc622462d" >
		<http:listener doc:name="Copy_of_Listener" doc:id="8ecc1bc1-24ad-44f9-8f53-03cedc3a4084" config-ref="HTTP_Listener_config" path="/soapadd" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="1898f657-f52d-4e4b-8094-c013c49296fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Copy_of_Consume" doc:id="f2456bb5-7518-45ca-98ad-0978fad2267f" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="6c2a3bf1-f754-48b7-a4c9-d817706b2e69" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"Result": payload.body.ns0#DivideResponse.ns0#DivideResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_soap-comsume-projectFlow1" doc:id="48efea12-7697-41ea-8846-20aa5712b66c" >
		<http:listener doc:name="Copy_of_Copy_of_Listener" doc:id="54c17d02-452e-4862-bf6f-f1970680ed48" config-ref="HTTP_Listener_config" path="/soapadded" />
		<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="38fb1798-17dc-48f0-b860-9643df110444" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Copy_of_Copy_of_Consume" doc:id="be6e966a-2a80-4fbc-99dd-338e5f2dfb18" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="bf950a29-a4aa-4fe9-a55c-b16e2b00b9df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"Multiple Result": payload.body.ns0#MultiplyResponse.ns0#MultiplyResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_soap-comsume-projectFlow2" doc:id="e970ef28-6b01-4583-8340-023d12dc5f68" >
		<http:listener doc:name="Copy_of_Copy_of_Copy_of_Listener" doc:id="f08ff3ea-3aa9-4e48-8082-66ae3f0da0ed" config-ref="HTTP_Listener_config" path="/soapproject" />
		<ee:transform doc:name="Copy_of_Copy_of_Copy_of_Transform Message" doc:id="be01ff52-a206-45b2-a0c4-bd3e968d54f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
ns ns01 http://www.dataaccess.com/webservicesserver/
---
{
	ns01#NumberToWords: {
		ns01#ubiNum: payload.value1
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="NumberToWords" doc:name="Copy_of_Copy_of_Copy_of_Consume" doc:id="e221c899-54ce-4e06-a067-614b873c72ba" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Copy_of_Copy_of_Copy_of_Transform Message" doc:id="ebddc12f-c90a-4b4c-88cb-1b9b346c64f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/
ns ns1 http://www.dataaccess.com/webservicesserver/

output application/json
---
{
	"Result":payload.body.ns1#NumberToWordsResponse.ns1#NumberToWordsResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
