sample2/src/main/mule/sample2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cdc3387f-cc01-4d84-813b-f4e34d223a59" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample2Flow1" doc:id="811490a8-9dd3-4f88-853b-ad5e6f00b4b2" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1bb76b52-c789-474a-9543-77a5e6e6d883" />
	</flow>
	<flow name="sample2Flow" doc:id="6c71c259-4b68-4cee-8ffa-17239966b235" >
		<http:listener doc:name="Listener" doc:id="38313a1b-6162-4b74-b9ae-45ee9b6a5f44" config-ref="HTTP_Listener_config" path="/sample2"/>
		<logger level="INFO" doc:name="Logger" doc:id="0d0f296f-a2a1-4e11-a41b-7aaae80279b2" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d9bfdade-dc8d-480e-aadc-9fee05db3249" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"client id" : attributes.headers.client_id,
	"client secret" : attributes.headers.client_secret
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b97d9c38-7a9d-46aa-a592-443d459bda36" message="#[payload]"/>
	</flow>
</mule>
