sample-project/src/main/mule/sample-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a6d37a21-8d11-4048-be51-e01d5ed956cd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-projectFlow" doc:id="bb7e551d-5af0-4731-9edd-5af2dd3467fa" >
		<http:listener doc:name="Listener" doc:id="46dbb5e1-86a0-4d5c-9688-5f80adc6c73f" config-ref="HTTP_Listener_config" path="/sample"/>
		<ee:transform doc:name="Transform Message" doc:id="3aa1190f-2f92-48bc-983d-c0632691e934" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"resultofmultiplication":(attributes.queryParams.q1 as Number) * (attributes.queryParams.q2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a468a457-a01b-40cc-a2a9-47f11b6f83dc" message="#[payload]"/>
	</flow>
</mule>
